In [1]:
a = [-2, -3, 4, -1, -2, 1, 5, -3]

In [2]:
def kadane(a):
    sum = 0
    prev = 0
    for i in range(len(a)):
        if a[i]>0 or prev>sum:
            sum = sum + a[i]
            print("sum->", sum)
        
            if sum >= prev:
                prev = sum
        
    
        #else:
         #   sum = 0
        print("Biggest sum is ->", prev)

In [3]:
kadane(a)

Biggest sum is -> 0
Biggest sum is -> 0
sum-> 4
Biggest sum is -> 4
Biggest sum is -> 4
Biggest sum is -> 4
sum-> 5
Biggest sum is -> 5
sum-> 10
Biggest sum is -> 10
Biggest sum is -> 10

In [148]:
arr.

In [139]:
len(arr)

4

In [24]:
array = [
     [11, 12, 5 , 2],
     [15, 6,10 , 11], 
     [10, 8, 12 , 5],
     [12 ,15, 8 , 6]
      ]

In [25]:
print(array[0][3])

2

In [26]:
rs = 0
re = 3
cs = 0
ce = 3

In [4]:
array = [
     [11, 12, 5 , 2],
     [15, 6,10 , 11], 
     [10, 8, 12 , 5],
     [12 ,15, 8 , 6]
      ]
rs = 0
re = 3
cs = 0
ce = 3
while (rs<re and cs < ce):
    for i in range(cs, ce):
        print(array[rs][i], "  ",  end ='')
    print("")
        
    for j in range(rs, re):
        print(array[j][ce], "  " , end='')

    print("")
    
    for k in range(ce,cs, -1):
        print(array[re][k], "  ", end="")
    
    print("")

    for l in range(re,rs,-1):
        print(array[l][cs], "  ", end='')
    print("")
    cs = cs+1
    rs = rs+1
    ce = ce-1
    re = re-1

11   12   5
2   11   5
6   8   15
12   10   15
6
10
12
8

In [39]:
array = [
     [1, 2],
    [3, 4],
    [5, 6]
      ]

In [46]:
array = [
     [1, 2],
    [3, 4],
    [5, 6]
      ]
rs = 0
re = 2
cs = 0
ce = 3

In [48]:
array = [
     [1, 2],
    [3, 4],
    [5, 6]
      ]
rs = 0
re = 2
cs = 0
ce = 3
for i in range(rs,re):
    for j in range(cs,ce):
        print(array[j][i], "  ", end='')
    print("")

1   3   5
2   4   6

In [132]:
array = [
         [1, 2, 8],
         [3, 4, 9],
         [5, 6, 98]
        ]
a = 3
b = 2
c = 3

In [178]:
array2 = [
     [1,4,7],
     [2,5,8 ], 
     [3,6,9 ]
]

def sear(array2 , target):
    rst = 0
    ren = 2
    cst = 0
    cen = 2
    while(rst<= ren and cst <= cen):
        if array2[rst][cen] == target:
            #print("A")
            #print(rst,ren,cst,cen)
            return True
        
        elif target > array2[rst][cen]:
            #print("B")
            #print(rst,ren,cst,cen)
            rst = rst + 1
        
        elif target < array2[rst][cen]:
            #print("C")
            #print(rst,ren,cst,cen)
            cen = cen -1
        

    return False



sear(array2 , 78)

In [179]:
def sear(array2 , target):
    rst = 0
    ren = 2
    cst = 0
    cen = 2
    while(rst<= ren and cst <= cen):
        if array2[rst][cen] == target:
            #print("A")
            #print(rst,ren,cst,cen)
            return True
        
        elif target > array2[rst][cen]:
            #print("B")
            #print(rst,ren,cst,cen)
            rst = rst + 1
        
        elif target < array2[rst][cen]:
            #print("C")
            #print(rst,ren,cst,cen)
            cen = cen -1
        

    return False

In [183]:
sear(array2 , 78)

False

In [186]:
acc = "arindam"

In [10]:
def multiply(A, B):
    
    r1 = len(A)
    c1 = len(A[0])
    
    r2 = len(B)
    c2 = len(B[0]) 
    
    C = [[0 for i in range(r1)] for j in range(c2)]
    
    
    if c1 != r2:
        return -1
        
    for i in range(r1):
        for j in range(c2):
            for k in range(r1):
                C[i][j] = C[i][j] + (A[i][k] * B[k][j]) 
                
    return C

 
                

multiply([[1, 1, 1, 1],
    [2, 2, 2, 2],
    [3, 3, 3, 3],
    [4, 4, 4, 4]],
 
# Second matrix. N is a list
 [[1, 1, 1, 1],
    [2, 2, 2, 2],
    [3, 3, 3, 3],
    [4, 4, 4, 4]])

[[10, 10, 10, 10], [20, 20, 20, 20], [30, 30, 30, 30], [40, 40, 40, 40]]

In [18]:
def wave(A):
    r = len(A)
    c = len(A[0])
    t = []
    
    for j in range(c):
        if j%2 == 0:
            for i in range(r):
                t.append(A[i][j])
        else:
            for k in range(r-1,-1,-1):
                t.append(A[k][j])
            
    return t

wave([[1, 1, 1, 1],
    [2, 2, 2, 2],
    [3, 3, 3, 3],
    [4, 4, 4, 4]])

[1, 2, 3, 4, 4, 3, 2, 1, 1, 2, 3, 4, 4, 3, 2, 1]

In [20]:
array = [
     [11, 12, 5 , 2],
     [15, 6,10 , 11], 
     [10, 8, 12 , 5],
     [12 ,15, 8 , 6]
      ]
rs = 0
re = 3
cs = 0
ce = 3
tt = []
while (rs<re and cs < ce):
    for i in range(cs, ce):
        tt.append(array[rs][i])
        
        
    for j in range(rs, re):
        tt.append(array[j][ce])
        
    
    for k in range(ce,cs, -1):
        tt.append(array[re][k])
        

    for l in range(re,rs,-1):
        tt.append(array[l][cs])
        
    cs = cs+1
    rs = rs+1
    ce = ce-1
    re = re-1
    
print(tt)

[11, 12, 5, 2, 11, 5, 6, 8, 15, 12, 10, 15, 6, 10, 12, 8]

In [16]:
# Python3 program to print Lower
# triangular and Upper triangular
# matrix of an array

# Function to form lower triangular
# matrix
def lower(matrix, row, col):
    suml = 0
    tl = []

    for i in range(0, row):

        for j in range(0, col):

            if (i < j):

                print("0", end = " ");

            else:
                suml = suml + matrix[i][j]
                print(matrix[i][j],
                    end = " " );

        print(" ");
    print(suml)
	
# Function to form upper triangular matrix
def upper(matrix, row, col):
    
    sumu = 0

    for i in range(0, row):
    
        for j in range(0, col):
        
            if (i > j):
                print("0", end = " ");
        
            else:
                sumu = sumu + matrix[i][j]
                print(matrix[i][j],
                    end = " " );

        print(" ")
    print(sumu)

# Driver Code
matrix = [[1, 2, 3],
		[4, 5, 6],
		[7, 8, 9]];
row = 3;
col = 3;
	
print("Lower triangular matrix: ");
lower(matrix, row, col);
	
print("Upper triangular matrix: ");
upper(matrix, row, col);

Lower triangular matrix:
1 0 0
4 5 0
7 8 9
34
Upper triangular matrix:
1 2 3
0 5 6
0 0 9
26

1