In [44]:
thisset = {"apple", 5, "cherry"}

for x in thisset:
    print('------>',x)
    print(type(x))

------> cherry
<class 'str'>
------> 5
<class 'int'>
------> apple
<class 'str'>

In [45]:
thisset.add("orange")

In [46]:
for x in thisset:
    print('------>',x)
    print(type(x))

------> cherry
<class 'str'>
------> orange
<class 'str'>
------> 5
<class 'int'>
------> apple
<class 'str'>

In [47]:
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

In [48]:
for x in thisset:
    print('------>',x)
    print(type(x))

------> pineapple
<class 'str'>
------> 5
<class 'int'>
------> apple
<class 'str'>
------> cherry
<class 'str'>
------> papaya
<class 'str'>
------> mango
<class 'str'>
------> orange
<class 'str'>

In [51]:
thisset

{5, 'apple', 'cherry', 'orange', 'papaya', 'pineapple'}

In [50]:
thisset.remove('mango')

In [57]:
thisset.pop()

'cherry'

In [56]:
thisset

{'cherry', 'orange', 'papaya'}

In [60]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])
print(thistuple[1])

cherry
banana

In [62]:
for i in thistuple:
    
    if 'apple' in thistuple:
        print(i)

apple
banana
cherry